// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  main {
    section {
      .section-wrapper {
        .big-faded {
          line-height: 7rem;
          transform: scale(1);
          font-size: 3rem;
        }
        .section-title {
          display: flex;

          &.home {
            text-align: center;
          }
        }
        .bio-wrapper {
          grid-template-areas:
            "img"
            "bio";
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;

          .bio-image {
            justify-content: center;
          }
        }

        .cards {
          grid-template-columns: repeat(2, 1fr);
        }

        .row {
          & ul {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  html {
    scroll-behavior: smooth;
  }
  nav {
    &.mobile-nav {
      .menu {
        &-nav {
          .nav-item i {
            display: none;
          }
        }
      }
    }
  }

  .menu-btn {
    display: block;
  }

  nav.side-nav {
    display: none;
  }

  main {
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

      .icon {
        display: none;
      }

      .section-wrapper {
        padding: 0;
        .big-faded {
          line-height: 7rem;
          transform: scale(1);
          font-size: 3rem;
        }
        .section-title {
          display: flex;

          &.home {
            text-align: center;
          }
        }
        .bio-wrapper {
          grid-template-areas:
            "img"
            "bio";
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;

          .bio-image {
            justify-content: center;
          }
        }

        .row {
          & ul {
            grid-template-columns: repeat(2, 1fr);
            padding-left: 0;
          }
        }

        .port {
          padding: 0;
          & .description {
            width: 100%;
          }

          & img {
            width: 100%;
          }
        }

        .cards {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 10px;

          &:hover {
            display: none;
          }
        }

        .card-img {
          height: 100px;
        }
        .card-img--hover {
          height: 100px;
        }
      }
    }
  }

  footer {
    .footer-link {
      display: none;
    }
    .footer-right {
      & a {
        margin: 0.2em;
      }
      & i {
        font-size: 1.2rem;
      }
    }
  }
}

// Smartphones
@include mediaSm {
}
