// Widescreens
@include mediaXl {
  main {
    section {
      .icon {
        transform: translate(-50%, -50%);
      }
      .section-wrapper {
        .row {
          max-width: 750px;
          & ul {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }
}

// Desktops & Laptops
@include mediaLg {
  main {
    section {
      .section-wrapper {
        max-width: 1200px;
        transform: translatey(0);
        .big-faded {
          line-height: 8rem;
          transform: scale(1);
          font-size: 4rem;
        }
        .section-title {
          display: flex;

          &.home {
            text-align: center;
            max-width: 500px;
          }

          .primary-title {
            margin-bottom: 5px;
          }
          .home-title {
            font-size: 25px;
          }
        }
        .bio-wrapper {
          grid-template-areas:
            'img'
            'bio';
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;

          .bio-image {
            justify-content: center;
          }
        }

        .row {
          max-width: 600px;
          & ul {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
  .article-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 0px 0px 25px;
    // article.l-card {
    //   width: 350px;
    //   .l-img {
    //     & img {
    //       object-fit: cover;
    //       object-position: center;
    //     }
    //   }
    // }
  }
  .port {
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;

    & .row {
      & .branding {
        padding: 0;
      }

      & .description {
        &-wrap {
          .inner {
            padding: 0;
          }
        }
      }
    }
  }
  .process-wrapper {
    margin: 0 0 0 100px;
    max-width: 700px;

    #progress-content-section {
      min-width: 700px;
      min-height: 570px;
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  html {
    scroll-behavior: smooth;
  }
  body {
    &.scroll-none {
      overflow: hidden !important;
    }
  }
  nav {
    &.mobile-nav {
      .menu {
        &-nav {
          .nav-item i {
            display: none;
          }
        }
      }
    }
  }

  .menu-btn {
    display: block;
  }

  nav.side-nav {
    display: none;
  }

  main {
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

      .section-wrapper {
        transform: translatey(0);
        padding: 0;
        .big-faded {
          line-height: 7rem;
          transform: scale(1);
          font-size: 3rem;
        }
        .section-title {
          display: flex;

          &.home {
            text-align: center;
          }
        }
        .bio-wrapper {
          grid-template-areas:
            'img'
            'bio';
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;

          .bio-image {
            justify-content: center;
          }
        }

        .row {
          width: 80%;

          & ul {
            grid-template-columns: repeat(1, 1fr);
            padding-left: 0;
          }
        }

        .cards {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 10px;

          &:hover {
            display: none;
          }
        }

        .card-img {
          height: 100px;
        }
        .card-img--hover {
          height: 100px;
        }
      }
    }
  }

  .article-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .port {
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;

    & .row {
      h1 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }

      & .branding {
        padding: 0;

        &-wrap {
          padding: 0 20px;
          align-items: center;

          & h1 {
            font-size: 40px;
          }
        }
      }

      & .description {
        &-wrap {
          padding: 0 20px;

          .inner {
            padding: 0;
          }
        }
      }
    }
  }

  .process-wrapper {
    margin: auto;
    max-width: 700px;

    #progress-content-section {
      min-width: 700px;
      min-height: 570px;
    }
  }

  footer {
    .footer-link {
      display: none;
    }
    .footer-right {
      & a {
        margin: 0.2em;
      }
      & i {
        font-size: 1.2rem;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  .icon {
    display: none;
  }

  main {
    section {
      .section-wrapper {
        .icon {
          font-size: 40vw;
        }
        .big-faded {
          line-height: 6rem;
          font-size: 3rem;
        }
        .section-title {
          .home-title {
            font-size: 17px;

            & p {
              margin: 0 5px;
            }
          }
        }
        .row {
          max-width: 300px;
        }
      }
    }
  }

  .article-wrapper {
    padding-top: 100px;
    grid-template-columns: repeat(1, 1fr);
    article.l-card {
      width: 300px;
      .l-img {
        & img {
          object-position: left;
        }
      }
      .l-info {
        padding: 10px;
      }
    }
  }

  .port {
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    border-radius: 0;

    & .row {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: none;

      h1 {
        font-size: 22px;
      }

      p {
        font-size: 16px;
      }

      & .branding {
        display: flex;
        order: 1;

        &-wrap {
          padding: 0 10px;
          justify-content: space-evenly;

          & .inner {
            align-self: flex-start;
            margin-left: 10px;
          }

          & h1 {
            font-size: 22px;
          }
        }

        & img {
          height: 150px;
          width: auto;
          // box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.75);
          object-fit: contain;
          filter: grayscale(100%) invert(1) opacity(0.5);
        }
      }

      & .description {
        order: 2;

        &-wrap {
          grid-gap: 5px;
          padding: 0 10px;

          .inner {
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }

  .process-wrapper {
    margin: auto;
    max-width: 300px;
    overflow: hidden;

    #progress-bar-container {
      & ul {
        margin-top: 11px;
      }
      & li {
        &:before {
          width: 20px;
          height: 20px;
        }

        &:after {
          width: 4px;
          height: 4px;
          border: solid 5px rgba(255, 255, 255, 0.9);
          margin-top: 20px;
        }

        & .step-inner {
          display: none;
        }
      }

      & #line {
        height: 5px;
        top: 75px;
      }

      & #line-progress {
        width: 5%;
      }
    }

    #progress-content-section {
      width: 100%;
      height: 90%;
      min-width: 300px;
      min-height: 300px;
    }

    & .section-content {
      padding: 7px 10px;
      transform: translateY(0px);

      & h2 {
        font-size: 14px;
      }

      & p {
        font-size: 12px;
        line-height: 1.5em;
        font-weight: 200;

        & span {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}
