// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  main {
    section {
      .section-wrapper {
        .big-faded {
          line-height: 7rem;
          transform: scale(1);
          font-size: 3rem;
        }
        .section-title {
          display: flex;

          &.home {
            text-align: center;
          }
        }
        .bio-wrapper {
          grid-template-areas:
            "img"
            "bio";
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;

          .bio-image {
            justify-content: center;
          }
        }
      }
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    section {
      .section-wrapper {
        .big-faded {
          line-height: 7rem;
          transform: scale(1);
          font-size: 3rem;
        }
        .section-title {
          display: flex;

          &.home {
            text-align: center;
          }
        }
        .bio-wrapper {
          grid-template-areas:
            "img"
            "bio";
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;

          .bio-image {
            justify-content: center;
          }
        }
      }
    }
  }

  .menu-btn {
    display: block;
  }

  nav.side-nav {
    display: none;
  }
}

// nav {
//   &.mobile-nav {
//     height: 100vh;
//     .menu {
//       &-branding,
//       &-nav {
//         height: 50%;
//         width: 100vw;
//       }

//       &-nav {
//         .nav-link {
//           font-size: 1rem;
//           padding: 0.5rem 0;
//         }
//       }
//     }
//   }
// }

// Smartphones
@include mediaSm {
}
